$textColor: #5c5c5c;

div.landingContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d4d1d1;

  div.gridLayout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    @media (max-width: 800px) {
      & {
        grid-template-columns: auto;
      }
    }
    div.gridItem {
      width: 100%;
      height: 100%;
      &.flex {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  div.onlinesContent {
    position: relative;
    display: flex;
    div.greenDot {
      background: rgb(45, 195, 45);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      box-sizing: border-box;
      margin-right: 0.5rem;
      animation: animateDot 1s infinite;

      @keyframes animateDot {
        0% {
          background: rgb(45, 195, 45);
        }
        50% {
          background: rgb(43, 114, 43);
        }
        100% {
          background: rgb(45, 195, 45);
        }
      }
    }
    span {
      margin: 0;
      padding: 0;

      margin-top: -4px;
      font-weight: 500;
    }
  }

  h2.headerContent {
    font-size: 5rem;
    max-width: 70%;
    line-height: 6rem;
    font-weight: 200;
    padding-bottom: 0;
    margin-bottom: 1rem;

    @media (max-width: 1300px) {
      font-size: 3rem;
      line-height: 4rem;
    }
    &.fullWidth {
      max-width: 100%;
    }
  }

  p.contentLabel {
    max-width: 60%;
    padding-top: 0;
    margin-top: 0;
    color: $textColor;
    &.fullWidth {
      max-width: 75%;
      text-align: left;
    }
  }

  div.headerImage {
    width: 401px;
    height: 450px;
    @media (max-width: 1300px) {
      width: 251px;
      height: 300px;
    }
    @media (max-width: 800px) {
      & {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 200px;
        height: 225px;
      }
    }
  }

  div.serviceItems {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    div.item {
      width: 128px;
      height: 128px;
      margin-right: 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      h2 {
        font-weight: bold;
        font-size: 3rem;
        margin: 0;
        padding: 0;
      }
    }
  }
}

div.ourServices {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #d4d1d1;

  h4 {
    font-weight: 600;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    span {
      color: #d4d1d1;
      font-weight: 200;
      font-size: 1rem;
    }
  }

  div.serverList {
    position: relative;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;

    div.item {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      margin-right: 3rem;
      span {
        font-weight: 300;
        font-size: 2rem;
        @media (max-width: 1300px) {
          & {
            font-size: 1.5rem;
          }
        }
      }
      p {
        padding: 0;
        margin: 0;
        color: $textColor;
        @media (max-width: 1300px) {
          font-size: 0.8rem;
        }
      }
    }
  }
}

div.longLabels {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #d4d1d1;
  div.absolutePath {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h2 {
      width: 100%;
      font-size: 9rem;
      padding: 0;
      margin: 0;
      margin-bottom: -40px;
      span {
        text-decoration: line-through;
        font-weight: 700;
        color: $textColor;
      }
      @media (max-width: 1300px) {
        font-size: 5rem;
      }
    }
  }
  h4 {
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
  }
  p {
    max-width: 70%;
    margin: 0 auto;
    color: $textColor;
  }
}
