@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
$maxWidth: 1300px;
$minWidth: 768px;
$textColor: #1a1a1a;
body {
  background: #f8f8f8;
  font-family: "Poppins", sans-serif, "Helvetica Neue";
  padding: 0;
  margin: 0;
}

div.pageContent {
  position: relative;
  width: $maxWidth;
  height: auto;
  min-height: 50vh;
  margin: 0 auto;
  opacity: 1;
  animation: fadeIn 1s linear;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @media (max-width: 1300px) {
    & {
      width: $minWidth;
    }
  }
  @media (max-width: 800px) {
    & {
      width: 100%;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
